vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Dec 2013 21:00:22 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|rates.html contact.html calendar.html contactus.html thanks.html activities.html blank.html gallery.html about.html information.html cabins.html index.html map.html rates-2015.html map-13Aug15.html rates\\ -\\ Copy.html trailer.html
vti_author:SR|BAKERSVILLE\\JaneB
vti_modifiedby:SR|BAKERSVILLE\\JaneB
vti_timecreated:TR|06 Feb 2014 15:43:36 -0000
vti_cacheddtm:TX|06 Feb 2014 15:43:36 -0000
vti_filesize:IR|1609
vti_cachedlinkinfo:VX|S|../images/adornment.png
vti_cachedsvcrellinks:VX|FSUS|images/adornment.png
